.grid {
    -webkit-font-smoothing: antialiased;
}
.space {
    overflow: visible;
    background-color: black;
    padding-top: 10rem;
    margin-bottom: 30rem;
    height: 10vh;
    width: 100%;
    z-index: -1;
}

.pic-space {
    background-color: black;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

.space img {
    margin-left: 10rem;
    margin-top: -2rem;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.confinement {
    height: 30vh;
    width: 100%;
}
