@import url(https://db.onlinewebfonts.com/c/13adb8ecf0b34eeb6dc616544371b8d5?family=Plain+Ultrathin);

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-size: 1.6rem;
    background: black;
}
* {
    margin: 0;
    padding: 0;
}
* button {
    border: none;
    background: none;
}
