.pantriesform__container {
    background-color: white;
    position: fixed;
    width: 40rem;
    height: 35rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: -70rem 0 0 35rem;
    z-index: 1;
}
.pantriesform__header {
    margin-bottom: 10rem;
}

.pantriesform textarea {
    margin: 0 0 0 5rem;
}
.pantriesform input {
    width: 10rem;
    height: 3rem;
}
.pantriesform:hover {
    color: black;
}
.pantriesform__container .pantriesform {
    margin: -9rem 2rem 0rem 2rem;
}
