.recipeTabs {
    color: black;
    background-color: white;
    position: absolute;
    margin: -50rem 0 0rem 10rem;
    height: 60rem;
    width: 90rem;
    overflow: scroll;
}

.tabGrid {
    color: white;
    height: 5rem;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    overflow: hidden;
    box-shadow: 0 0.2rem 10px 0.2rem rgb(255, 255, 255);
    z-index: -1;
}
.tabGrid li {
    overflow: hidden;
    border-left: 5px solid rgb(194, 175, 175);
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.tabGrid li h2 {
    font-style: italic;
    margin-top: 1rem;
    overflow: hidden;
}
.tabGrid .tabcontent {
    overflow: scroll;
}
#react-tabs-0 h2 {
    margin-right: 1rem;
}
#react-tabs-2 {
    margin-left: -1.5rem;
}
#react-tabs-2 h2 {
    margin-left: -4rem;
}
#react-tabs-4 {
    margin-left: -4rem;
}
#react-tabs-4 h2 {
    margin-left: -3rem;
}
.gridContainer {
    color: white;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    grid-row-gap: -1rem;
    /* grid-column-gap: 10rem; */
}
.gridContainer2 {
    color: white;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    grid-row-gap: -10rem;
    /* grid-column-gap: -20rem; */
}
