.recipesform__container {
    background-color: white;
    position: absolute;
    width: 51rem;
    height: 40rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: -58rem 0 0 48rem;
}
.recipesform__header {
    margin-bottom: 10rem;
    /* position: absolute; */
}
.recipesform {
    display: grid;
    /* margin-bottom: 100rem; */
}
.recipesform:hover {
    color: black;
}
.recipesform__container .recipesform {
    margin: -9rem 2rem 0rem 2rem;
}
