.ellipseToggle {
    background: white;
    width: 100%;
    height: 5rem;
    border-radius: 50% / 100% 100% 0 0;
    margin: 15.4% 0 0 0;
    /* overflow: hidden; */
    text-decoration: none;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #white, 0 0 0 0 white;
    cursor: pointer;
}
.ellipseClicked {
    background-color: black;
    color: white;
    width: 100%;
    height: 5rem;
    border-radius: 75% / 100% 100% 0 0;
    margin: 15.4% 0 0 0;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 100vw white, 0 0 0 100vh white;
    cursor: pointer;
    z-index: 77777777777;
}
.recipeWordsH1 {
    margin-left: 80rem;
}

.mapsMove {
    position: absolute;
    /* background-color: black; */
    margin-top: -84.6rem;
    margin-left: 100rem;
    z-index: -0.99;
}
.sCar {
    margin-top: 7rem;
}
