.ppContainer {
    background-color: #fff;
    padding: 1rem;
    display: inline-block;
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(255, 49, 49, 0.2);
    margin: 1rem 0;
    padding: 2rem;
    height: 20rem;
    width: 20rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.ppContainer2 {
    background-color: #fff;
    padding: 1rem;
    display: inline-block;
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(255, 49, 49, 0.2);
    margin: 1rem 0;
    padding: 2rem;
    height: 20rem;
    width: 20rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.card {
    height: 100%;
    width: 100%;
}

.card figure {
    position: relative;
    margin: 0;
    /* z-index: 1; */
    height: 100%;
    width: 100%;
}

.ppContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.ppContainer2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.card img,
.card figure::after {
    border-radius: 1rem;
    border-color: 5px solid silver;
}
/* .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
figure::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -1rem;
    z-index: -1;
    background-image: var(--image);
    background-size: cover;
    transform: scale(0.9, 1);
    filter: blur(1rem);
}

.followUser {
    /* color: #0095f6;
    font-weight: bolder;
    margin-top: -1rem; */
    /* background-color: #0095f6; */
    /* color: white; */
    /* font-weight: 500; */
}
