.homePageProfileContainer {
    height: 100vh;
    width: 100%;
}

.wordsTitle,
.wordsTitle2 {
    text-align: center;
    font-size: 70px;
}
.wordsTitle2 {
    text-align: center;
    margin-top: -15px;
}
.wordsParagraph {
    align-items: flex-start;
    justify-self: normal;
}
.click {
    /* height: 10rem; */
    margin-top: 5rem;
    margin-left: 5rem;
    align-items: flex-end;
}
.flex {
    display: flex;
    /* justify-content: center; */
    overflow-x: hidden;
}
.buttonDiv {
    margin-top: 20rem;
    margin-left: 10rem;
    justify-content: space-around;
    align-content: space-around;
}

.gifDiv {
    margin-left: 20rem;
    margin-top: 15rem;
}
.modo,
.user-data {
    height: 4rem;
}
.flex button {
    /* margin-left: 1rem; */
    font-family: 'Space Mono', monospace;
    /* background-color: white; */
    letter-spacing: 1vh;
    background: none;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 50px;
    width: 190px;
    font-size: 14px;
    z-index: -1;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
}

.flex button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background: #202020;
    z-index: -1;
    transition: 0.3s ease-in all;
}

.flex button:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: white;
    z-index: -1;
    transition: 0.4s 0.02s ease-in all;
}

.flex button:hover {
    cursor: pointer;
    color: transparent;
}
.flex button:hover.icon-right.after:after {
    left: -80px;
    color: white;
    transition: 0.2s 0.2s ease all;
}
.flex button:hover.icon-right.after:before {
    left: -104px;
    top: 14px;
    opacity: 0.2;
    color: white;
}

.flex button:hover:before {
    left: 100%;
    width: 25%;
}

.flex button:hover:after {
    left: 100%;
    width: 70%;
}

.icon-right {
    position: absolute;
    top: 0;
    right: 0;
}

.icon-right:after {
    font-family: 'FontAwesome';
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 26px;
    transform: translate3D(0, -50%, 0);
}

.icon-right.after:after {
    left: -250px;
    color: black;
    transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
}

.icon-right.after:before {
    content: 'Explore';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: 0.2s ease-in all;
}

.signature {
    position: fixed;
    font-family: sans-serif;
    font-weight: 100;
    bottom: 10px;
    left: 0;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
